h1{
  color: #ff0000;
  font-size: 30px;
  background-color: #f3f372;
  height:80px;
  widht:20px;
}
img {
  height: 50px;
  widht: 70px;
}
p{
  color: #ff0000;
  font-size: 20px;
  font-family:"luciana grande"
}
footer-logo {
  font-size: 32px;
  float: left;
}
footer-list {
  float: right;
}
footer-list li {
  padding-bottom:
}
.main {
  padding: 100px 80px;
}
.copy-container h1 {
  font-size: 140px;
}
.copy-container h2 {
  font-size: 60px;
}
.copy-container span {
  color: #ff4a4a;
}
