hl {
  color: #e6855e;
  font-size: 30px;
  height: 80px;
  width: 200px;
}
a {
  color: #ff0000
}
img {
  height: 50px;
  width: 70px
p {
  color : #0000ff;
  font-size: 30px;
  height: 80px;
  width: 200px;
}
